/*#region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: all 500ms;
}

ul{
    list-style: none;
}

:root{
    --sidebg: rgba(0, 0, 0, 1);
    --mainbg: rgb(27, 27, 27);
    --footerbg: rgba(40, 40, 40, 1);
    --textsecondary: rgba(125, 127, 132, 1);
    --underline: rgba(173, 255, 47, 1);
    --textprimay: rgba(255, 255, 255, 1);
    
}

a{
    text-decoration: none;
    
}

i{
    cursor: pointer;
}
/*#endregion common */

/*#region utility */

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

.active-left{
    border-left: 3px solid var(--underline);
}
.active-left a{
    margin-left:-5px ;
}
.active-bottom{
    
    border-bottom: 3px solid var(--underline);
}

.border{
    border-radius: 100%;
}

.color-grey{
    color: rgb(0, 0, 0);
}

/*#endregion utility */

/*#region sidenav */
.sidenav{
    background-color: var(--sidebg);
    width: 250px;
    height: calc(100vh - 100px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    
}

.sidenav >img{
    width:150px;
    padding:20px 20px;
    animation: bounce-5 2s infinite linear;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.top-nav img,
.sidenav-footer img{
display: inline;
height: 25px;
vertical-align: middle;

}

.top-nav li{
    padding: 5px 20px;
    
}

.sidenav a{
    color: var(--textsecondary);
    font-weight: 500;
}

.sidenav a:hover,
.sidenav i:hover{
    color: var(--textprimay);
    
}

.sidenav h5{
color: var(--textprimay);   
}

.sidenav .fa-solid,
.sidenav-middle{
    color: var(--textsecondary);
    vertical-align: middle;

}
.sidenav-middle{
    padding: 5px 20px;
    line-height: 25px;
    overflow: auto;
}
.create-play{
    padding:5px 20px;
}
.playlist {
    overflow-y: auto;
 } 
    
.sidenav-footer{
    margin-top: auto;
    padding: 0 20px;
    line-height: 25px;  
}
.user{

    background-color: gray;
    border-radius:50%;
    padding: 1px;
    margin: 2px;
}

/*#endregion sidenav */

/* #region main */

main{
    background-color: var(--mainbg);
    height: calc(100vh - 100px );
}
 
.main-bar{
    background: linear-gradient(rgb(143, 143, 143), rgb(45, 45, 46));    
    width: calc(100% - 250px);
    height:400px;
    position: fixed;
    top: 0;
    right: 0;
}
.button{
    width: 100%;
    height: 50px;
    justify-content: end;
    margin-top: 20px;
}
.left{
    justify-content: start;
    margin-left: 10px;
    font-size: 20px;
   
}
.button a{
    font-weight: 500;
    text-transform: uppercase;
    color: var(--textprimay);
    background-color: rgb(41, 40, 40);
    padding: 15px 20px;
    border-radius: 30px;
    margin-right: 10px;
    
}
.button img{
    width: 20px;
    vertical-align: middle;
}
 .button a:hover{
    font-size: 20px;
}

.content{
    height: 280px;
    width: calc(100vw - 250px);
    position: fixed;
    top: 100px;
    right: 0;
    overflow-y: auto;
    margin-left: 10px;
    filter:drop-shadow(2px 4px 6px black)
    
}
.playlist-img img{
   width: 280px;
   margin-left: 10px;
   
}

.playlist-infos{
    color: white;
    padding-left: 20px;
    align-self: flex-end;
    
    
}
.playlist-infos h1{
  font-size: 85px;
  line-height: 130px;
}

/* end main-bar */

/* #endregion main */

/* #region footer */
footer{
    background-color: var(--footerbg);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}

  .control-bar{
      padding-left: 10px;
      align-self: center;
      width: 100%;
      justify-content: space-between;
      column-gap: 20px;
   
  }

  .infos{
      width: 20%;
      flex-grow: 1;
  }

  .now-playing img{
    width: 60px;
    height: 60px;
    filter: grayscale(1);
    display: none;
    
 }

    
  .album-musician,
  .album-title {
    display: block;
    
    
  }
  
  .album-info {
    padding: 10px 20px;
    font-weight: 500;
    display: none;
    
  }
  
  .album-title {
    color: var(--textprimay);
    margin-bottom: 5px;
  }
  
  .album-musician {
    font-size: 13px;
    color: var(--textsecondary);
  }
  
  .like-save{
      color: var(--textsecondary);
      align-self: center;
      padding-left: 20px;
      word-spacing: 10px;
      display: none;
    }
    
    .like-save i:hover{
        color: var(--textprimay);
        
    }
    
    .play-controls{
        align-self: flex-end;
        width: 50%;
        flex-grow: 5;
        align-self: center;
        text-align: center;
    }
    
    .control-play{
        width: 75%;
        color: var(--textprimay);
        word-spacing: 20px;
        font-size: 25px;
        text-align: center;
        align-self: center;
    }
    
    .sound-bar{
        width: 75%;
        margin: 10px;
        color: var(--textprimay);
        font-size: 11px;
        justify-content: space-between;
        flex-grow: 6;
        column-gap: 10px;
        align-self: center;
    }
    .fa-circle-play:hover{
        font-size: 40px;
        
    }
    .progress-bar{
        cursor: pointer;
        margin-top: 5px;
        height: 5px;
        width: 80%;
        border-radius: 10px;
        background-color: rgb(85, 84, 84);
    }
    .played-music{
        position: relative;
        height: 5px;
        width: 25%;
        border-radius: 10px;
        background-color: var(--textsecondary)
    }
    
    .played-music:hover{
        background-color: var(--underline);
    }
    
    .played-music:hover .cerchio{
     display: block;
    }
    
    .cerchio{
        display: none;
        background-color: #ffffff;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        position: absolute;
        top: -6px;
        right:-10px;
    }
    
    .play-device-controls{
        align-self: center;
        color: var(--textprimay);
        width: 15%;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    .volume{
        cursor: pointer;
        margin: 5px;
        
        height: 5px;
        width: 50%;
        border-radius: 10px;
        background-color: rgb(85, 84, 84);
        
    }
    
    .volume-set{
        position: relative;
        height: 5px;
        width: 30%;
        border-radius: 10px;
        background-color: var(--textsecondary)
    }
    
    .volume-set:hover{
        background-color: var(--underline);
    }
    
    .volume-set:hover .cerchio{
        display: block;
    }
    /* #endregion footer */
    
